/* remove default styling */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    padding: 30px;
    margin: auto;
    max-width: fit-content;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/* top section styling */
.top-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

img {
    height: 250px;
}
h1 {
    padding: 30px;
    margin: 30px;
    font-size: 2rem;
    border: 5px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* game section styling */
.header-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 5px solid brown;
}

/* buttons styling */
.choice-btn {
    background-color: brown;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
}

.score-section {
    padding-top: 20px;
    font-size: 1.2rem;
}
/* fonte awesome icons styling */
i {
    padding-right: 20px;
    padding-left: 5px;
}